#basket {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: auto;
}

.myBasketProduct {
    display: flex;
    align-items: center;
    height: 72px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(10, 37, 64, 0.35) 1px 0px 2px 1px inset;
}

#products {
    display: flex;
    flex-direction: column;
    height: auto;
}

.myProduct {
    display: flex;
    align-items: center;
    height: 72px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(10, 37, 64, 0.35) 1px 0px 2px 1px inset;
}



.productBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: transparent;

}

/* #mainFooter{
     height: 50px;
     border: 5px solid black;
}

 */